
#flag {
  width: 400px;
  height: 350px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  position: relative;
}

#top {
  width: 100%;
  height: 50%;
  background-color: white;
}

#down {
  width: 100%;
  height: 50%;
  background-color: red;
}

#circle {
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 1000px;
  position: absolute;
  top: 110px;
  left: 44px;
  overflow: hidden;
}

#red {
  background-color: red;
  height: 50%;
}

#white {
  background-color: white;
  height: 50%;
}

/* INDONESIA */
#indonesia {
  width: 400px;
  height: 250px;
  border: 1px solid;
  margin-top: 30px;
}

#indonesia .top {
  width: 100%;
  height: 50%;
  background-color: red;
}

#indonesia .bottom {
  width: 100%;
  height: 50%;
  background-color: white;
}

/* THAILAND */
#thailand {
  width: 400px;
  height: 250px;
  border: 1px solid;
  margin-top: 30px;
}

#thailand .stripe {
  width: 100%;
  height: 20%;
}

#thailand .red {
  background-color: red;
}

#thailand .white {
  background-color: white;
}

#thailand .blue {
  background-color: blue;
  height: 40%;
}
